{%- style -%}
  .MainDiv {
    display: flex;
    position:relative !important;
    justify-content: center;
  }
 
@media screen and (min-width: 769px) {
#desktop-diana{display: flex;
    margin-left: 11%; }
     #showdiv{
    height: auto;
  }
  #textContant{display: none; }
}
@media screen and (max-width: 768px) {
#textContant{display: flex; }
#desktop-diana{display: none; }
}

  .ImageClass {
    height: 80px;
    width: 80px;
  }
  .page header~#maincontent .container .blue-remover {
    a {
      color: #6c6c6c;
    }
    margin: auto;
    text-align: center;
  }

  .hederText {
    display: flex;
    min-width: 119px margin-left: 22px;
    margin-right: 3.75rem;
    font-size: 1.1em;
    color: #6c6c6c;
  }
  .ClassUnderline {
    border-bottom: 1px solid;
  }
  .textDiv {
    max-width: 100%;
    margin: 7px 4px 4px;
    text-align: center;
    line-height: 18px;
    font-size: small;
  }
  .myButton {
    cursor: pointer;
  }
  #medianShowSize {
    cursor: pointer;
  }
  #Measurements {
    cursor: pointer;
  }
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }

  .modal-content1 {
    border-radius: 8%;
    background-color: #fefefe;
    margin: 65% auto auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  .modal-content2 {
    border-radius: 8%;
    background-color: #fefefe;
    margin: 65% auto auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  .close {
    color: #aaaaaa;
    float: right;
    margin-top: -9px;
    font-size: 28px;
    font-weight: bold;
  }
  .close1 {
    color: #aaaaaa;
    float: right;
    margin-top: -9px;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .close1:hover,
  .close1:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .FirstModalHead {
    width: 73%;
    background-color: #414040;
    color: white;
    border-radius: 12px;
    text-align: center;
    margin-left: 10%;
    font-size: 14px;
    margin-top: 3%;
    line-height: 32px;
  }
  a:empty, ul:empty, dl:empty, div:empty, section:empty, article:empty, p:empty, h1:empty, h2:empty, h3:empty, h4:empty, h5:empty, h6:empty {
  display: block !important;
}
{%- endstyle -%}





<div id="showdiv">
  {%- if block.settings.isActive == true -%}

  {% for tag in product.tags %}
    <input
      class="sizeRightTags"
      type="hidden"
      name="{{ product.variants[0].name }}"
      value="{{ tag }}" />
  {% endfor %}
    <input
      id="email"
      type="hidden"
      name="Email"
      value={{ customer.email }} />
    <input
      type="hidden"
      id="genderValue1"
      value="{{ product.metafields.custom.gender.value }}">
    <input
      type="hidden"
      id="MobileOnly"
      value="{{ block.settings.OnlyMobile }}">
    
      <input
      type="hidden"
      id="storeId"
      value="{{ shop.id }}">
    <input
      type="hidden"
      id="skuId"
      name="custId"
      value={{ product.variants[0].sku }}>
      <input
      type="hidden"
      id="productTitle"
      name="custId"
      value='{{ product.title }}'>
      <div id="desktop-diana" class="desktop-diana d-none d-md-flex justify-content-center">
        </div>
    <div class="MainDiv flex-container d-flex d-md-none justify-content-center contanareClass page-width">
      <div class="image ImageClassDic" id="textContant"></div>
      <div class="blue-remover ImageClassDic textDiv">

        <div class="m-2 px-1 sizerighttext hederText " ></div>


      </div>
    </div>

  </div>
  <div>
  {% endif %}
</div>
<script>

var genderValue='male';
  var MainContent = document.getElementById("MainContent");
  var storeId = document.getElementById("storeId").value;
  var productName = document.getElementById("productTitle").value;
  
  if(storeId==="27090059353" && ( productName.includes('SANDAL') || productName.includes('Sandal') || productName.includes('sandal'))){ 
    Apicall()
    }else if(storeId != "27090059353" ){ 
      if(storeId==="10207756385" && window.location.href.indexOf('-accessories') == -1){
         Apicall() 
      }else if(storeId!="10207756385"){
         Apicall() 
      }
      
      }
  async function Apicall() {
    var tempsizeRightTags=document.getElementsByClassName('sizeRightTags'); 
    for(var i=0; i<tempsizeRightTags.length; i++){
      if(tempsizeRightTags[i].value=="female"||tempsizeRightTags[i].value=="Female"||tempsizeRightTags[i].value=="FEMALE"|| tempsizeRightTags[i].value.includes("women")|| tempsizeRightTags[i].value.includes("Women")|| tempsizeRightTags[i].value.includes("WOMEN")){
        genderValue="female";
        break;
      }
    }
    var myHeaders = new Headers();
    myHeaders.append("Content-Type", "application/json");
    var raw = JSON.stringify({"store_id": storeId});
  getValuesForSizeright();
    var sizeRightlink = document.createElement("link");
    sizeRightlink.setAttribute("rel", "stylesheet");
    sizeRightlink.setAttribute("href", "https://aetrex-fit-genius-widgets.s3.amazonaws.com/sizeright-desktop-widget/styles23.11.css");
    sizeRightlink.setAttribute("crossorigin", "anonymous");
    sizeRightlink.defer = true;
    MainContent.append(sizeRightlink);
    
    if(window.outerWidth <= 767){
      var sizeRightScript = document.createElement("script");
      sizeRightScript.setAttribute("src", "https://s3.amazonaws.com/aetrex-fit-genius-widgets/size-right/sizeright_widget.js");
      sizeRightScript.defer = true;
      MainContent.append(sizeRightScript);
    }else{
      var Mobileonly1 = document.getElementById("MobileOnly").value
      if(Mobileonly1 == "false"){
        var sizeRightScriptDesktop3 = document.createElement("script");
        sizeRightScriptDesktop3.setAttribute("src", "https://aetrex-fit-genius-widgets.s3.amazonaws.com/sizeright-desktop-widget/size-right.js");
        sizeRightScriptDesktop3.setAttribute("crossorigin", "anonymous");
        sizeRightScriptDesktop3.defer = true;
        MainContent.append(sizeRightScriptDesktop3);
        
      }
    }

  }
  
  async function getValuesForSizeright() {  
    var EncodedSessionId = sessionStorage.getItem("session_id");
    var skuId = document.getElementById("skuId").value;
    if (skuId == "" || skuId == null) {
      skuId = null
    }
    if (EncodedSessionId == "" || EncodedSessionId == null) {
      const timestamp = new Date().getTime();
      const randomNum = Math.floor(Math.random() * 900) + 100;
      var session_id = `${timestamp}${randomNum}`;
      EncodedSessionId = await hash(session_id);
      EncodedSessionId = JSON.parse(JSON.stringify(EncodedSessionId));
      sessionStorage.setItem("session_id", EncodedSessionId);
      CheckSessionApiCAll(EncodedSessionId, skuId, genderValue);
    } else {
      CheckSessionApiCAll(EncodedSessionId, skuId, genderValue);
    }
  }

  async function hash(string) {
    const utf8 = new TextEncoder().encode(string);
    const hashBuffer = await crypto.subtle.digest('SHA-256', utf8);
    const hashArray = Array.from(new Uint8Array(hashBuffer));
    const hashHex = hashArray.map((bytes) => bytes.toString(16).padStart(2, '0')).join('');
    return hashHex;
  }

  async function CheckSessionApiCAll(EncodedSessionId, skuId, genderValue) {
  var email = document.getElementById("email").value
  var EncodedEmail = await hash(email);
  if(window.outerWidth > 767){    
    var Mobileonly = document.getElementById("MobileOnly").value
    if(Mobileonly == "false"){
        var desktopView = document.getElementById("desktop-diana");
        var sizeRight1 = document.createElement("size-right-web");
        sizeRight1.setAttribute("sessionid", EncodedSessionId);
        sizeRight1.setAttribute("domain", location.host);
        sizeRight1.setAttribute("sku", skuId);
        sizeRight1.setAttribute("gender", genderValue);
        sizeRight1.setAttribute("user", EncodedEmail);
        desktopView.appendChild(sizeRight1);
    }
  }else{
      var textContant = document.getElementById("textContant");
      var sizeRight = document.createElement("size-right");
      sizeRight.setAttribute("session_id", EncodedSessionId);
      sizeRight.setAttribute("name", location.host);
      sizeRight.setAttribute("sku", skuId);
      sizeRight.setAttribute("gender", genderValue);
      sizeRight.setAttribute("email", EncodedEmail);
      textContant.appendChild(sizeRight);
    }
  }
</script>
{% schema %}
  {
    "name": "Size Right",
    "target": "section",
    "settings": [
      {
        "type": "checkbox",
        "id": "isActive",
        "default": true,
        "label": "Make Size Right Visible"
      }, {
        "type": "checkbox",
        "id": "OnlyMobile",
        "default": false,
        "label": "Make Size Right Visible for Mobile Only"
      }
    ]
  }
{% endschema %}
